body.index .search-ribbon {
    width: 100%;
    background-color: #ffffff;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 20px 30px;
    box-sizing: border-box;
        height: 75.2vh;
}

body.index .search-ribbon form {
    margin-top: 12%;
    text-align: center;
}

body.index .mdl-textfield.mdl-js-textfield.is-upgraded {
    margin-right: 20px;
}
body.index .mdl-textfield {
    position: relative;
    font-size: 20px;
    display: inline-block;
    box-sizing: border-box;
    width: 325px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}
body.index .mdl-textfield__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    display: block;
    font-size: 25px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: none;
    text-align: left;
    color: inherit;
}

body.search .search-ribbon {
    padding: 20px;
    text-align: center;
}

dialog.mdl-dialog {
    width: 50%;
}